@tailwind base;
@tailwind components;
@tailwind utilities;

// reset css

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #f6f5f2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
  font-family: 'Evog';
  src: local('Evog'), url('../../public/fonts/Evogria.otf') format('otf');
}

body {
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.gradient_head {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -10%, #000 100.06%);

  @media screen and (min-width: 768px) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 82.06%);
  }
}

.gradient_red {
  background: linear-gradient(
    180deg,
    rgba(12, 12, 12, 0) 0%,
    rgba(0, 0, 0, 0.25) 91.02%
  );
}

.gradient_ranking {
  background: linear-gradient(
    108deg,
    rgba(255, 0, 0, 0.29) -79.72%,
    rgba(0, 0, 179, 0.33) 121.61%
  );
}
.gradient_menu {
  background: linear-gradient(
    108deg,
    #ff0000 -79.72%,
    rgba(0, 0, 179, 1) 121.61%
  );
}

.box_menu {
  box-shadow: 0 0 10px #ff0000;
}

.open_menu {
  opacity: 1 !important;
  visibility: visible !important;
  transition: 300ms;
  top: 0;
}

// reset css

.border_footer {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.border_files {
  background: linear-gradient(
    230deg,
    #ff0000 -79.72%,
    rgba(0, 0, 179, 1) 121.61%
  );
  padding: 0.1rem;
}

.border_tab {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

// swiper homepage

.swiper-pagination {
  bottom: 5px !important;
  @media screen and (min-width: 768px) {
    bottom: 30px !important;
  }
}

.swiper-pagination-bullet {
  background: white !important;
}

.gradient_filter_head {
  // background: linear-gradient(0deg, #F6F5F2 5.95%, rgba(217, 217, 217, 0) 95.62%);
}

.shadow_submenu {
  box-shadow: 1px 0px 12px 0px #0000008a;
}

strong {
  font-weight: bold;
}
.markdown-content {
  ul {
    margin-top: 12px;
    li {
      list-style-type: disc;
      margin: 4px 24px;
    }
  }

  u {
    text-decoration: underline;
  }
}

.scrollbar-width-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.subnav_gradient {
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(270deg, #1E1E1E 0%, rgba(30, 30, 30, 0.00) 100%);
    z-index: 100;
    border-radius: 24px;
    @media screen and (min-width: 768px) {
      right: 20px;
    }
  }
  .subnav_gradient--start {
    left: 0;
    right: inherit;
    background: linear-gradient(90deg, #1E1E1E 4%, rgba(30, 30, 30, 0.00) 100%);
    @media screen and (min-width: 768px) {
      left: 20px;
    }
}
